MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
# AWS credentials should be set via environment variables
# Note: Some environments don't allow variables starting with "AWS_"
# Use ACCESS_KEY_ID and SECRET_ACCESS_KEY instead
# ACCESS_KEY_ID=""
# SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
S3_BUCKET="videosplitter-storage-1751560247"